/* Container principal */
.ava-component[data-component="bannerAVA"] {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

/* Estrutura base */
.ava-component[data-component="bannerAVA"] .slick-banner,
.ava-component[data-component="bannerAVA"] .Slick-Principal {
  width: 100%;
}

/* Slides */
.ava-component[data-component="bannerAVA"] .slick-slide > div,
.ava-component[data-component="bannerAVA"] .slick-slide a {
  display: block;
  width: 100%;
}

/* Imagens responsivas */
.ava-component[data-component="bannerAVA"] img {
  width: 100%;
  height: auto;
  display: block;
}

/* Setas */
.slick-prev:before,
.slick-next:before {
  color: #9a17bb !important;
}

.slick-prev,
.slick-next {
  z-index: 3 !important;
}

.slick-prev { left: 4px !important; }
.slick-next { right: 4px !important; }

button.slick-arrow {
  height: 100%;
  width: 30px;
}
